li {
  list-style-type: none; 
  display: flex;
}

@font-face {
  font-family: "NanumPen";
  src: url("./fonts/NanumPenScript-Regular.ttf");
}

@font-face {
  font-family: "sagak";
  src: url("./fonts/Sagak-sagak.ttf");
}

.pointer {
  cursor: pointer;
}

.input_account{
 height: 1rem;
}
/* radio 버튼 */
.form-radio_btn{
  border: 1px solid #EAE7E7;
  border-radius: 10px;
}

.AddaccountInputWrap input[type=radio] {
  display: none;
}

.AddaccountInputWrap label {
    display: block;
    border-radius: 10px;
    margin: 0 4px;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 35px;
}

.AddaccountInputWrap input[type=radio]:checked + label {
  background: #009eff;
  color: #fff;
}
.AddaccountInputWrap input[type=radio] + label {
  background: #F9FAFC;
  color: #666;
}

/* Schedule 컴포넌트 */
.lists {
  /* height: 50px; */
  margin-bottom: 20px;
  margin-top : 10px;
  font-family: "sagak";
  font-size: 1.5rem;
}

.scheduleTitle {
  margin : 0.7rem 3px;
  padding-left : 3px;
}

.scheduleContent {
  padding-left : 3px;
  margin-bottom : 5px;
}

.scheduleButton {
  font-family: "NanumPen";
  width : 45%;
  height: 40px;
  border : none;
  /* font-weight: 700; */
  background-color: #009eff;
  border-radius: 64px;
  color : white;
  /* margin-top : 30px;  */
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Account 컴포넌트 */
.sagak{
  font-family: "sagak";
}
.accountlists {
  height: auto;
}

.category {
  display: inline-flex;
  border-right: 1px solid #000;
  width: 20%;
  cursor: pointer;
}

.income {
  display: inline-flex;
  width: 30%;
  justify-content: flex-end;
  padding: 0 10px;
  color: green;
  margin-bottom: 1rem;
  cursor: pointer;
}

.expense {
  display: inline-flex;
  width: 30%;
  justify-content: flex-end;
  padding: 0 10px;
  color: red;
  margin-bottom: 1rem;
  cursor: pointer;
}

.account_type{
  display: inline-flex;
  width: 15%;
  height: 21px;
  padding: 0 10px;
  color: black;
}
.account_memo {
  display: inline-flex;
  width: 25%;
  height: 21px;
  justify-content: flex-end;
  padding: 0 10px;
  color: black;
  margin-bottom: 1rem;
  cursor: pointer;
}
.AddaccountInputWrap{
  display: flex;
}
.AddaccountInput {
  display : flex;
  border-radius: 8px;
  padding : 4px 8px;
  margin-top: 1px;
  background-color: white;
  width : 24.3%;
  margin-left: 5px;
  margin-right: 10px;
  border : 1px solid #dadada;
}
.UpdateccountInputWrap{
 display: block;
 width: 57.5%;
 margin-bottom: 2px;
}
.UpdateaccountInput{
  display: inline-flex;
  border-radius: 8px;
  background-color: white;
  width : 44%;
  height: 28px;
  margin-left: 10px;
  border : 1px solid #dadada;
}
