.body {
  background-color: black;
}

.page{
  position: absolute;
  top : 200px;
  bottom: 0;
  width : 100%;
  max-width: 500px;
  padding : 0 20px;
  border-radius: 50px;
  height : 500px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  z-index: 999;
}

.titleWrap{
  text-align: center;  
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
  color : #262626;
}

.contentWrap{
  margin-top: 26px;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color : #262626;
}

.inputWrap {
  display : flex;
  border-radius: 8px;
  padding : 16px;
  margin-top: 8px;
  background-color: white;
  border : 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border : 1px solid #f47d31;
}

.input {
  width : 100%;
  outline : none;
  border : none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color : #dadada;
}

.errorMessageWrap {
  visibility: hidden;
  margin-top : 8px;
  color : #ef0000;
  font-size: 12px;
  margin-left : 10px;
}

.bottomButton {
  margin-top: 48px;
  width : 100%;
  height: 48px;
  border : none;
  font-weight: 700;
  background-color: #f47d31;
  border-radius: 64px;
  color : white;
  margin-bottom: 20px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color : white;
}

.new {
  display: flex;
  justify-content: center;
}

.newTitle {
  margin-right : 16px;
}

.newCreate{
  color : blue;
  cursor: pointer;
}

.AddTitleWrap {
  text-align: left;  
  margin-top: 30px;
  margin-left : 40px;
  font-size: 32px;
  font-weight: 700;
  color : #262626;
}

.AddWrap {
  display: flex;
  margin : 10px 50px;
  align-items: center;
}

.AddInputWrap {
  display : flex;
  border-radius: 8px;
  padding : 12px;
  margin-top: 2px;
  background-color: white;
  width : 75%;
  margin-left: 30px;
  border : 1px solid #dadada;
}

.AddCalInputWrap {
  display : flex;
  border-radius: 8px;
  padding : 12px;
  margin-top: 8px;
  background-color: white;
  width : 35%;
  margin-left: 30px;
  margin-right: 10px;
  border : 1px solid #dadada;
}

.AddTimeInputWrap {
  border-radius: 8px;
  margin-top: 8px;
  background-color: white;
  width : 38%;
  margin-left: 0px;
  margin-right: 0px;
  border : 1px solid #dadada;
}
.AddTimeInput {
  display: flex;
  justify-content: center;
  padding : 12px;
  padding-left: 40px;
  border-radius: 8px;
  width : 100%;
  margin-left: 0px;
  margin-right: 0px;
  outline: none;
  border : none;
}

.AccountCalInputWrap {
  display : flex;
  border-radius: 8px;
  padding : 12px;
  margin-top: 8px;
  background-color: white;
  width : 75%;
  margin-left: 30px;
  margin-right: 10px;
  border : 1px solid #dadada;
}

.AddInput{
  width : 100%;
  outline : none;
  border : none;
  height: 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}



.AddCalInput {
  width : 45%;
  outline : none;
  border : none;
  height: 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.AddMemoInput {
  width : 100%;
  outline : none;
  border : none;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.AddButton {
  width : 30%;
  height: 40px;
  border : none;
  font-weight: 700;
  background-color: #f47d31;
  border-radius: 64px;
  color : white;
  margin-top : 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
}

.CreatePage{
  position: absolute;
  top : 0;
  bottom: 0;
  width : 100%;
  max-width: 500px;
  padding : 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #eeeeee;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.CreateInput {
  width : 100%;
  outline : none;
  border : none;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
}

.CreateInput::placeholder {
  color : #dadada;
}

.CreateInputTitle {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color : #262626;
}

.CreateInputWrap {
  display : flex;
  border-radius: 8px;
  padding : 10px;
  margin-top: 8px;
  background-color: white;
  border : 1px solid #e2e0e0;
}

.CreateAddButton {
  width : 100%;
  height: 40px;
  border : none;
  font-weight: 700;
  background-color: #f47d31;
  border-radius: 10px;
  color : white;
  margin-top : 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.CreateAddButton:disabled {
  background-color: #dadada;
  color : white;
}

.AgreeBoxWrap {
  display : flex;
  justify-content: start;
  margin-top: 20px;
  font-size: 16px;
}
.CreateAgreeBox {
  width : 30px;
  height: 20px;

}

.CreateFooter {
  display: flex;
  justify-content: center;
  gap : 14px;
}

.CreateFooter1 {
  color : gray;
}

.ToggleButton {
  border : none;
  background-color: white;
}

.plusButton {
  position : absolute;
  right : 0;
  top : 5px;
  cursor: pointer;
  background-color :antiquewhite;
  border-radius: 5px;
  color : gray;
  padding: 9px;
}

.modalIcon {
  padding : 10px;
  width : 20px;
  height: 20px;
  
}

.titleIcon {
  
}

.upDownButton {
  position : absolute;
  left : 105px;
  top : 100px;
  cursor: pointer;
  background-color: white;
  border : none;
}

.pallet {
  position: absolute;
  display : block;
  top : 120px;
  left : 90px;
  width : 120px;
  height: 60px;
  border : 1px solid gray;
  z-index: 6;
  background-color: white;
  border-radius: 10px;
  padding : 2px;
  padding-left : 8px;
}

.palletIcon {
  width : 20px;
  height: 20px;
  padding : 4px;

}

